* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background-color: #333;
    margin: 0 auto;
    overflow: auto;
}

div{
    background-color: #f1f1f1;
    text-align: center;
    padding: 40px;
    margin: 10% auto;
    width: 50%;
    height: auto;
    overflow: auto;
    border-radius: 15%;
}
div input{
    margin: 30px;
}
input[type=text]:focus {
    border: 2px solid #555;
  }
input[type=text] {
    color: #555;
}
input[type=button] {
    background-color: #f1f1f1;
    color: #333;
    padding: 10px;
    border-radius: 5%;
    transition: background-color 0.5s,color 0.5s;
}
input[type=button]:hover {
    background-color: #333;
    color: #f1f1f1;
}